*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

nav{
    height: 4em;
    background-color: #C85858;
    transition: background-color 0.4s ease;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 15px #000;
    margin-top: -6em;
}

nav .nav-link{
    color: #FFF;
}

.nav-link{
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    transition: font-size 0.4s ease, color 0.4s ease;
    margin-top: 0.3em;
}

.nav-link:hover{
    color: #b5b5b5;
}

.nav #navLogo{
    margin-top: 0.8em;
    margin-right: -0.6em;
}

#mainTitle{
    font-family: 'EB Garamond', serif;
    margin-top: 6em;
    width: 100%;
    display: flex;
    justify-content: center;
}

#mainTitle h1{
    font-size: 3.5em;
    color: #893D3D;
}

.container{
    display: flex;
    margin-top: 2em;
    margin-bottom: 4em;
}

.plan{
    width: 22em;
    background-color: #f7cacd;
    padding: 20px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 20px;
}

.plan h2{
    font-family: 'EB Garamond', serif;
    margin-bottom: -0.1em;
}

.plan p{
    font-family: 'Poppins', sans-serif;
}

.plan .planItem{
    display: flex;
    margin-bottom: 0.5em;
}

.plan .planItem p{
    margin-top: 0.18em;
}

#banBtn{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #C85858;
    color: #FFF;
    transition: all 0.5s ease;
    margin-left: 5.5em;
}

#banBtn:hover{
    background-color: #893D3D;
    color: #FFF;
}

.advanced{
    background-color: #faa307;
}

.profesionnal{
    background-color: #ff758f;
}

footer{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 4em;
    height: 17em;
    background-color: #C85858;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerCont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-bottom: -0.1em;
}

footer h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

footer #footerCont h3{
    margin-bottom: -0.1em;
}